<div class="div-center">
    
        <img class="text-center mx-auto" src="imagess/placing-order.gif" alt="" srcset="">

        <h3 class="text-center">ORDER PLACED</h3>
   
<button class="btn btn-btn" onclick="location.href='/shop'">continue shopping</button>


</div>

<style>
    .div-center{
     position: absolute;
     top:50%;
     left:50%;
     transform: translate(-50%,-50%);
    }
    .text-center{
        display: flex;
        justify-content: center;
    }
</style>